<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">



<web-app >

	

	<init-param>
		<param-name>auteur</param-name> 
		<param-value>Amaury Trassaert</param-value> 
	</init-param>
	
  <display-name>Devoir Photo</display-name>

<description>Application correspondant au devoir 1 de GTI 525. </description>


	<servlet>
		<servlet-name>AjaxServlet</servlet-name>
		<servlet-class>ca.etsmtl.gti525.devoir1</servlet-class>
	
		<init-param>
	        	<param-name>dossierVignettes</param-name>
	    		<param-value>vignettes</param-value>
	    	</init-param>
	</servlet>

	<servlet>
		<servlet-name>WatermarkServlet</servlet-name>
		<servlet-class>ca.etsmtl.gti525.devoir1</servlet-class>
	
		<init-param>
	      		<param-name>message</param-name>
	    		<param-value>Vous devez acheter cette image pour afficher l'original</param-value>
	    	</init-param>
	
		<init-param>
	        	<param-name>dossierVignettes</param-name>
	    		<param-value>vignettes</param-value>
	    	</init-param>
	    
	    	<init-param>
	        	<param-name>dossierOriginaux</param-name>
	    		<param-value>dossierUltraTopSecret</param-value>
	    	</init-param>	    
	    
	</servlet>

  
	<servlet-mapping>
		<servlet-name>WatermarkServlet</servlet-name>
		<url-pattern>/WatermarkServlet</url-pattern>
	</servlet-mapping>

  
	<servlet-mapping>
		<servlet-name>AjaxServlet</servlet-name>
		<url-pattern>/AjaxServlet</url-pattern>
	</servlet-mapping>

  
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
  	</error-page>
  
	<welcome-file-list>  
		<welcome-file>/index.jsp</welcome-file> 
	</welcome-file-list>
  
  </web-app>
